<div>

  Year {{ ctrl.selected_year }}:
  
  <span style="margin-left:10px;"></span>
  
  <a href="{{ ctrl.songs_url }}">Songs</a>
  
  <span style="margin-left:10px;"></span>
  
  <a href="{{ ctrl.movies_url }}">Movies</a>

</div>

<hr/>

<h1>{{ ctrl.type_title }}</h1>
<p>
  <button class="btn-primary" id="play_all">Play All {{ ctrl.type_title }}</button>
</p>

<!--
<div id="content" class="container clearfix">
	<div class="item" ng-repeat="clip in ctrl.clips">
    <div>
      <a ng-href="{{ clip.youtube_url }}">
        <img ng-src="{{ clip.youtube_thumbnail }}"/>
      </a>
    </div>
	</div>
</div>
-->


<div class="item" ng-repeat="clip in ctrl.clips">
  <a class="inline" value="{{ clip.youtube_code }}" href="">
    <img data-lightbox="ysongs" ng-src="{{ clip.youtube_thumbnail }}" />
  </a>
  <div style="display:none">
    <div id="{{ clip.youtube_code }}">
      {{ clip.title }}
      <div>
        <a ng-href="{{ clip.youtube_url }}" target="_blank">
          <img data-lightbox="ysongs" ng-src="{{ clip.youtube_thumbnail }}" width="300px"/>
        </a>
      </div>

    </div>
  </div>
</div>


<style type="text/css">
  .item {
    display: block;
    float: left;
    width: 100px;
    margin: 0 20px 20px 0;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  }
  .item img {
    width: 100px;
    height: auto;
  }
</style>

    
