/* ==|== primary styles =====================================================
   Author: Luke Shumard (lukeshumard.com)
   ========================================================================== */

#content {
	/*width: 980px;*/
	/*width: 95%;*/
	width: auto;
	margin: 0 auto;
}

.item {
	display: block;
	float: left;
	width: 300px;
	margin: 0 20px 20px 0;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.featured {
	width: 620px;
}

.item img {
	width: 300px;
	height: auto;
}

.featured img {
  width: 620px;
  height: auto;
}

/* Titles */
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .2em;
  line-height: 1;
  text-align: center;
  margin: 0;
  display: inline;
}

h1 a {
  color: #000;
}

header {
	text-align: center;
	margin-top: 0.8em;
}

header:after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  margin: 0.8em auto;
  background-color: #111;
}

